<div class="row">
    <div class="col-md-5">
        <form [formGroup]=this.wordService.form (ngSubmit)=onSubmit()>
            <input type="hidden" formContorlName="$key">
            <div class="form-group">
                <label>Word</label>
                <input formControlName="word" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.word.errors}">
                <div class="invalid-feedback" *ngIf="submitted && formControls.word.errors">This field is required.</div>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Submit">
            </div>
        </form>
        <div class="alert alert-info" *ngIf="showSuccessMessage">
            Submitted Successfully...
        </div>
    </div>
    <div class="col-md-7"></div>
</div>